@model EmployeeViewModel

<input hidden asp-for="ImageName" />
<div class="form-group">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span class="text-danger " asp-validation-for="Name"></span>
</div>
<div class="form-group">
    <label asp-for="Image"></label>
    <input class="form-control" asp-for="Image" />
</div>
<div class="form-group">
    <label asp-for="Address"></label>
    <input class="form-control" asp-for="Address" />
    <span class="text-danger " asp-validation-for="Address"></span>
</div>
<div class="form-group">
    <label asp-for="Department"></label>
  <select class="form-control" asp-items="ViewBag.Departments" asp-for="DepartmentId">
      <option class="text-center" value="@null">--Select Department--</option>
  </select>
</div>
<div class="form-group">
    <label asp-for="Age"></label>
    <input class="form-control" asp-for="Age" />
    <span class="text-danger " asp-validation-for="Age"></span>
</div>
<div class="form-group">
    <label asp-for="Salary"></label>
    <input class="form-control" asp-for="Salary" />
    <span class="text-danger " asp-validation-for="Salary"></span>
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span class="text-danger " asp-validation-for="Email"></span>
</div>
<div class="form-group">
    <label asp-for="Phone"></label>
    <input class="form-control" asp-for="Phone" />
    <span class="text-danger " asp-validation-for="Phone"></span>
</div>
<div class="form-group">
    <label asp-for="IsActive"></label>
    <input asp-for="IsActive" />
    <span class="text-danger " asp-validation-for="IsActive"></span>
</div>