<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Demo.PL.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">CRUD Website</div>
            <ul class="nav-links">
                <li><a asp-controller ="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Employees" asp-action="Index">Employees</a></li>
                <li><a asp-controller="Departments" asp-action="Index">Departments</a></li>
                <li><a asp-controller="User" asp-action="Index">User</a></li>
                <li><a asp-controller="Roles" asp-action="Index">Roles</a></li>
                @if (User.Identity!.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="SignOut">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 bg-opacity-10">
            @RenderBody()
        </main>
    </div>
    
    @await RenderSectionAsync("Validation", required: false)
</body>
</html>
