@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<section class="wrapper d-flex justify-content-center align-items-center vh-100">
    <main class="container">
        <h1 class="text-center">Forgot Password</h1>
        <form asp-action="ForgetPassword" class="form" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form__group field">
                <input asp-for="Email" class="form__field" placeholder="Email" required>
                <label asp-for="Email" class="form__label">Email</label>
                <span class="error" asp-validation-for="Email"></span>
            </div>
            <button class="button button--submit mt-4 w-100">Send</button>
        </form>
        <p> <a asp-action="Login">Cancel</a></p> 
    </main>
</section>

@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

