@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="wrapper d-flex justify-content-center align-items-center vh-100">
    <main class="container">
        <h1 class="text-center">Login</h1>
        <form asp-action="Login" class="form" method="post">
            <div class="error" asp-validation-summary="ModelOnly"></div>
            <div class="form__group field">
                <input id="email" name="Email" value="@Model?.Email" class="form__field" placeholder="Email" required>
                <label asp-for="Email" class="form__label">Email</label>
                <span class="error" asp-validation-for="Email" ></span>
            </div>

            <div class="form__group field">
                <input id="password" value="@Model?.Password" name="@Html.DisplayNameFor(e=>e.Password)" type="password" class="form__field" placeholder="Password" required>
                <label asp-for="Password" class="form__label">Password</label>
                <span class="error" asp-validation-for="Password"></span>

                <i id="togglePassword" role="button" aria-label="toggole password show" class="fa-regular fa-eye-slash position-absolute end-0 bottom-0 p-2"></i>
            </div>
            <div class="d-flex align-items-center pt-3 flex-wrap">
                <a asp-action="ForgetPassword" class="forgotPassword">Forgot your Password?</a>
                
                <button class="button button--submit">Submit</button>
            </div>

        </form>


    </main>

</section>

@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}